@model ShivGardenHouse.Models.AssociateBooking

@{
    ViewBag.Title = "AssociateTree";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}


@using (Html.BeginForm("AssociateTree", "AssociateDashboard", FormMethod.Post, new { @id = "form1" }))
{



    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">Associate Downline</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- HTML5 Export Buttons table start -->
                            <div class="card">
                                <div class="card-header table-card-header">

                                </div>
                                <div class="card-block">
                                   <div class="row">
                                       <div class="col-md-8">

                                       </div>
                                       @if (Model.HiddenId != null)
                                       {
                                        <div>
                                            <a  href="/AssociateDashboard/AssociateTree?AssociateID=@ViewBag.Fk_SponsorId" id="btnBack" class="btn btn-info btn-sm">Back</a>
                                        </div>
                                       }
                                       else
                                       {
                                        <a  style="display:none" href="/AssociateDashboard/AssociateTree?AssociateID=@ViewBag.Fk_SponsorId" id="btnBack" class="btn btn-info btn-sm">Back</a>
                                       }

                                   </div>
                                    <div class="dt-responsive table-responsive">
                                        <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S No.</th>
                                                    <th></th>

                                                    <th>LoginId</th>
                                                    <th>Name</th>
                                                    <th>Status</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.lstPlot != null)
                                                    {
                                                        int i = 1;
                                                        foreach (var Item in Model.lstPlot)
                                                        {
                                                            <tr class="text-left">

                                                                <td>@i</td>
                                                                <td>
                                                                    @if (Item.Status == "Down")
                                                                    {
                                                                       
                                                                        <a href="/AssociateDashboard/AssociateTree?AssociateID=@Item.Fk_UserId" id="btnDown" class="btn btn-success btn-sm" onclick="return ShowButton();">Down</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="#"  class="btn btn-success btn-sm">Self</a>
                                                                    }


                                                                </td>
                                                                <td>@Item.LoginId</td>
                                                                <td>@Item.FirstName  </td>
                                                                <td>
                                                                    @if (Item.ActiveStatus == "Inactive")
                                                                    {
                                                                        <a href="#" id="btnstatus" class="label label-danger">@Item.ActiveStatus</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="#" id="btnstatus" class="label label-success">@Item.ActiveStatus</a>
                                                                    }
                                                                   
                                                                </td>

                                                            </tr>
                                                            i++;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>

                                                    <th>S No.</th>
                                                    <th></th>
                                                    <th>LoginId</th>
                                                    <th>Name</th>
                                                    <th>Status</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    //function ShowButton()
    //{
       

    //}

</script>