@model ShivGardenHouse.Models.AssociateBooking

@{
    ViewBag.Title = "AssociateDownlineDetail";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}



@using (Html.BeginForm("AssociateDownlineDetail", "TraditionalAssociate", FormMethod.Post, new { @id = "form1" }))
{



    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">Associate Downline</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- HTML5 Export Buttons table start -->
                            <div class="card">
                                <div class="card-header table-card-header">

                                </div>
                                <div class="card-block">

                                    @Html.HiddenFor(m => m.LoginId, new { @Value = @Model.LoginId })
                                    <div class="dt-responsive table-responsive">
                                        <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S No.</th>
                                                    <th>Associate ID</th>
                                                    <th>Associate Name</th>
                                                    <th>Rank Name</th>
                                                    <th>Rank (%)</th>
                                                    <th>Branch Name</th>
                                                    <th>Mobile Number</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.lstPlot != null)
                                                    {
                                                        int i = 1;
                                                        foreach (var Item in Model.lstPlot)
                                                        {
                                                            <tr class="text-left">
                                                                <td>@i</td>
                                                                <td>@Item.AssociateID</td>
                                                                <td>@Item.AssociateName  </td>
                                                                <td>@Item.DesignationName </td>
                                                                <td>@Item.Percentage</td>
                                                                <td>@Item.BranchName</td>
                                                                <td>@Item.Contact</td>

                                                            </tr>
                                                            i++;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>S No.</th>
                                                    <th>Associate ID</th>
                                                    <th>Associate Name</th>
                                                    <th>Rank Name</th>
                                                    <th>Rank (%)</th>
                                                    <th>Branch Name</th>
                                                    <th>Mobile Number</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

