@model ShivGardenHouse.Models.AssociateBooking

@{
    ViewBag.Title = "AssociateRegistration";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}
<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../files/assets/images/login-gif-11.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    .errortext {
        border: 1px solid red !important;
    }
</style>
<div class="loader" id="divload"></div>

@using (Html.BeginForm("AssociateRegistration", "AssociateDashboard", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <p style="color: red">
        @TempData["Registration"]
        <br />
        @TempData["AssociateDetails"]
    </p>
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">Associate Registration</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add New Associate</h5>
                                    <p style="color: red">
                                        @TempData["Registration"]
                                    </p>
                                    <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                </div>
                                <div class="card-block">

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label class="float-label">Branch<span style="color:red">*</span></label>
                                            @Html.DropDownListFor(m => m.BranchID, new SelectList(ViewBag.ddlBranch, "Value", "Text"), new { @class = "form-control"})
                                            <span class="form-bar"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="float-label">Sponsor Code<span style="color:red">*</span></label>
                                            @if (Model.UserID == null)
                                            {
                                                @Html.TextBoxFor(m => m.SponsorID, new { @class = "form-control", @Placeholder = "Sponsor ID", @onchange = "return getSponsorName();" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.SponsorID, new { @class = "form-control", @Placeholder = "Sponsor ID", @readonly = "readonly" })
                                            }
                                            @Html.HiddenFor(m => m.UserID)
                                            <span class="form-bar"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="float-label">Sponsor Name<span style="color:red">*</span></label>
                                            @Html.TextBoxFor(m => m.SponsorName, new { @class = "form-control", @Placeholder = "Sponsor Name", @readonly = "readonly" })
                                            <span class="form-bar"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            @if (Model.DesignationID == null)
                                            {
                                                <label class="float-label">Designation<span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.DesignationID, new SelectList(ViewBag.ddlDesignation, "Value", "Text"), new { @class = "form-control" })
                                                <span class="form-bar"></span>
                                            }
                                            else
                                            {
                                                <label class="float-label">Designation<span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.DesignationID, new SelectList(ViewBag.ddlDesignation, "Value", "Text"), new { @class = "form-control", @disabled = "disabled" })
                                                <span class="form-bar"></span>
                                            }

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label class="float-label">First Name<span style="color:red">*</span></label>
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @Placeholder = "First Name" })
                                            <span class="form-bar"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="float-label">Last Name</label>
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @Placeholder = "Last Name" })
                                            <span class="form-bar"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="float-label">Mobile<span style="color:red">*</span></label>
                                            @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", @Placeholder = "Mobile Number", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "10" })
                                            <span class="form-bar"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="float-label">Email</label>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Placeholder = "Email" })
                                            <span class="form-bar"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label class="float-label">Pan No.</label>
                                            @Html.TextBoxFor(m => m.PanNo, new { @class = "form-control", @Placeholder = "PAN Number", @maxlength = "10", @onchange = "return validatePan();" })
                                            <span class="form-bar"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="float-label">Pin Code</label>
                                            @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", @Placeholder = "Pincode", @onchange = "return getStateCity();", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "6" })
                                            <span class="form-bar"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="float-label">State</label>
                                            @Html.TextBoxFor(m => m.State, new { @class = "form-control", @Placeholder = "State", @readonly = "readonly" })
                                            <span class="form-bar"></span>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="float-label">City</label>
                                            @Html.TextBoxFor(m => m.City, new { @class = "form-control", @Placeholder = "City", @readonly = "readonly" })
                                            <span class="form-bar"></span>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label class="float-label">Father's Name</label>
                                            @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control", @Placeholder = "Father's Name" })
                                            <span class="form-bar"></span>
                                        </div>
                                        <div class="col-sm-9">
                                            <label class="float-label">Address</label>
                                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @Placeholder = "Address" })
                                            <span class="form-bar"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                                <input class="btn btn-success pull-right" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $(document).ready(function() {

        $("#divload").css({ 'display': 'none' });
    });

    function getStateCity() {
        debugger
        var pincode = $('#Pincode').val();
        $.ajax({
            url: '/AssociateDashboard/GetStateCity', type: 'post', dataType: 'json',
            data: { 'Pincode': pincode },
            success: function (data) {
                if (data.Result == "yes") {
                    $("#State").val(data.State);
                    $("#City").val(data.City);
                    $("#State").removeClass('errortext');
                    $("#City").removeClass('errortext');
                    $("#Pincode").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    $("#State").val('');
                    $("#City").val('');
                    $("#State").addClass('errortext');
                    $("#City").addClass('errortext');
                    $("#Pincode").addClass('errortext');
                    $('#Pincode').focus();
                    $('#Pincode').val('');
                    alert("Enter Valid Pin Code")
                }
            }

        });
    }

    function getSponsorName() {
        $("#divload").css({ 'display': '' });
        var sponsorID = $('#SponsorID').val();
        $.ajax({
            url: '/AssociateDashboard/GetSponsorName', type: 'post', dataType: 'json',
            data: { 'SponsorID': sponsorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {
                    $("#SponsorName").val(data.SponsorName);
                    $("#UserID").val(data.UserID);
                    $("#SponsorName").removeClass('errortext');
                    $("#SponsorID").removeClass('errortext');

                    $("#DesignationID").html(""); // clear before appending new list
                    $("#DesignationID").empty();
                    //$("#DesignationID").append(
                    //      $('<option></option>').val(0).html('Select Designation'));
                    $.each(data.ddlDesignation, function (index, Sectorcount) {
                        $("#DesignationID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });
                }
                else if (data.Result == "no") {
                    $("#SponsorName").val('');
                    $("#SponsorName").addClass('errortext');
                    $("#SponsorID").addClass('errortext');
                    $('#SponsorID').focus();
                    $('#SponsorID').val('');
                    alert("Invalid Sponsor Id");
                }
            }

        });
    }

    function validateform() {
        $("#divload").css({ 'display': '' });
        $(".errortext").removeClass("errortext");
        if ($('#BranchID').val() == '0') {
            $("#BranchID").addClass('errortext');
            $('#BranchID').focus();
            $("#divload").css({ 'display': 'none' });
            //   alert("Please Select Branch .")
            return false;
        }
        if ($('#SponsorID').val() == '') {
            $("#SponsorID").addClass('errortext');
            $('#SponsorID').focus();
            $('#SponsorID').val('');
            $("#divload").css({ 'display': 'none' });
            //   alert("Please Fill Sponsor ID .")
            return false;
        }
        if ($('#DesignationID').val() == '0') {
            $("#DesignationID").addClass('errortext');
            $('#DesignationID').focus();
            $("#divload").css({ 'display': 'none' });
            //   alert("Please Select Designation .")
            return false;
        }
        if ($('#FirstName').val() == '') {
            $("#FirstName").addClass('errortext');
            $('#FirstName').focus();
            $("#divload").css({ 'display': 'none' });
            //  alert("Please Fill First Name .")
            return false;
        }
        if ($('#Contact').val() == '') {
            $("#Contact").addClass('errortext');
            $('#Contact').focus();
            $("#divload").css({ 'display': 'none' });
            //  alert("Please Fill Mobile Number .")
            return false;
        }
        //if ($('#PanNo').val() == '') {
        //    $("#PanNo").addClass('errortext');
        //    $('#PanNo').focus();
        //    //    alert("Please Fill PAN .")
        //    return false;
        //}
        //if ($('#Pincode').val() == '') {
        //    $("#Pincode").addClass('errortext');
        //    $('#Pincode').focus();
        //    //    alert("Please Enter Pin Code")
        //    return false;
        //}
        $("#divload").css({ 'display': '' });
        return true;
    }
  
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }
    function validatePan() {
        var panVal = $('#PanNo').val();
        var regpan = /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;

        if (regpan.test(panVal)) {
            $("#PanNo").removeClass('errortext');
        } else {
            alert("Invalid PAN Number");
            $("#PanNo").val('');
            $("#PanNo").addClass('errortext');
        }
    }
</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>