@model ShivGardenHouse.Models.Master

@{
    ViewBag.Title = "BlockList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




@using (Html.BeginForm("BlockList", "Master", FormMethod.Post, new { @id = "form1" }))
{
 
    

    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">Block List</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- HTML5 Export Buttons table start -->
                            <div class="card">
                                <div class="card-header table-card-header">
                                    <p style="color: red">
                                        @TempData["BlockMaster"]
                                    </p>
                                    <a class="btn btn-primary btn-sm" style="margin-left:75%" href="/Master/BlockMaster">Add New</a>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S No.</th>
                                                    <th>SiteName</th>
                                                    <th>Sector Name</th>
                                                    <th>Block Name</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.lstBlock1 != null)
                                                    {
                                                        int i = 1;
                                                        foreach (var Item in Model.lstBlock1)
                                                        {
                                                            <tr class="text-left">
                                                                <td>@i</td>
                                                                <td>@Item.SiteName</td>
                                                                <td>@Item.SectorName</td>
                                                                <td>@Item.BlockName</td>
                                                                <td>
                                                                    <a href="/Master/BlockMaster?BlockID=@Item.EncryptKey" class="btn btn-info btn-sm">Edit</a>
                                                                    <a href="/Master/DeleteBlock?id=@Item.BlockID" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you wish to delete this Block?');">Delete</a>
                                                                </td>

                                                            </tr>

                                                            i++;
                                                        }
                                                    }
                                                }

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>S No.</th>
                                                    <th>SiteName</th>
                                                    <th>Sector Name</th>
                                                    <th>Block Name</th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


       

               
}
