@model ShivGardenHouse.Models.Master
@{
    ViewBag.Title = "GalleryMaster";

    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("SaveGallery", "Master", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">Gallery Master</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add New Picture</h5>
                                    <p style="color: red">
                                        @TempData["Images"]
                                    </p>
                                    <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                </div>
                                <div class="card-block">

                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                Project <span style="color: red">*</span>
                                                @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @*<img src="@Model.ProfilePicture" height="190" width="250" />*@
                                                Image <span style="color: red">*</span>
                                                <input type="file" name="postedFile" id="Image" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <br />
                                                @if (Model.PK_GalleryID == null)
                                                {
                                                    <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                                                }
                                                else
                                                {
                                                    @Html.HiddenFor(m => m.PK_GalleryID, new { @Value = @Model.PK_GalleryID })
                                                    <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="btnUpdate" />
                                                }
                                                <a class="btn btn-info" href="/Master/GalleryList">Back To List</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     


}

<script>
    function validateform() {
        $(".errortext").removeClass("errortext");


        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $('#SiteID').focus();
            return false;
        }

        if ($('#Image').val() == '') {
            $("#Image").addClass('errortext');
            $('#Image').focus();
            alert("Please select Project image..!");
            return false;
        }
        return true;
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }


</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>





