@model ShivGardenHouse.Models.Master
@{
    ViewBag.Title = "PLCMaster";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using (Html.BeginForm("SavePLC", "Master", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">PLC Master</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <p style="color: red">
                                        @TempData["PLC"]
                                    </p>
                                    <h5>Add New PLC</h5>
                                    <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                </div>
                                <div class="card-block">


                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label class="float-label">PLC<span style="color:red">*</span></label>
                                           
                                            @Html.TextBoxFor(m => m.PLCName, new { @class = "form-control", @Placeholder = "PLC Name", maxlength = "50" })
                                            @Html.ValidationMessageFor(m => m.PLCName)
                                            @Html.HiddenFor(m => m.PLCID, new { @class = "form-control", @Placeholder = "PLC Name" })
                                            @*<input type="hidden" id="hdPLCID" />*@
                                        </div>
                                       
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <div class="dt-responsive table-responsive">
                                                <table class="table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>S No.</th>
                                                            <th>PLC Name</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            if (Model.lstPLC != null)
                                                            {
                                                                int i = 1;
                                                                foreach (var Item in Model.lstPLC)
                                                                {
                                                                    <tr class="text-left">
                                                                        <td>@i</td>
                                                                        <td>@Item.PLCName</td>
                                                                        <td>
                                                                            <a href="#" class="btn btn-primary btn-sm" onclick="editPLC('@Item.PLCName','@Item.PLCID')">Edit</a>
                                                                            <a href="/Master/DeletePLC/@Item.PLCID" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you wish to delete this PLC?');">Delete</a>
                                                                        </td>
                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>S No.</th>
                                                            <th>PLC Name</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <input class="btn btn-success pull-left" onclick="return validateform()" type="submit" value="Save" id="btnSave" />
                                            <a href="#" class="btn btn-success pull-left" onclick="return updatePLC()" id="btnUpdate" style="display: none">Update</a>
                                            <p style="color: red">
                                                @TempData["PLC"]
                                            </p>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script>

    function editPLC(plcname, plcid) {
        $('#PLCName').val(plcname);
        $('#PLCID').val(plcid);
        $('#btnSave').hide();
        $('#btnUpdate').show();
    }

    function updatePLC() {
        $(".errortext").removeClass("errortext");
        if ($('#PLCName').val() == '') {
            $("#PLCName").addClass('errortext');
            $('#PLCName').focus();
            return false;
        }

        $.ajax({
            url: "/Master/UpdatePLC",
            Type: "Get",
            DataType: "JSON",
            data: { PLCID: $("#PLCID").val(), PLCName: $("#PLCName").val() },
            success: function (data) {
                alert(data.Result);
                window.location.href = '@Url.Action("PLCMaster", "Master")';

            }

        });
    }

    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#PLCName').val() == '') {
            $("#PLCName").addClass('errortext');
            $('#PLCName').focus();
            return false;
        }

        return true;
    }

</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
