@model ShivGardenHouse.Models.TraditionalAssociate
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <title>PrintAllotment</title>
    <style>
        table, th, td {
            font-size: medium;
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            font-size: medium;
            padding: 5px;
        }
    </style>

</head>
<body>
    <div style="border: 1px solid;padding: 15px;">
        <table style="border: 0px none black;">
            <tr style="border: 0px none black;">
                <td style="border: 0px none black;">
                    <img src="../../Website/images/Logo.png" />
                </td>
                <td style="border: 0px none black;"></td>

                <td style="border: 0px none black;"><h1>Shiv Garden House Projects </h1></td>
            </tr>

        </table>
        <br />
        <table style="border: 0px none black;">
            <tr style="border: 0px none black;">
                <td colspan="2" style="border: 0px none black;">
                    Dear <b>@ViewBag.AssociateName,</b>

                    <p>
                        Welcome to our valued family of @ViewBag.CompanyName ,Thank you
                        for joining hand with us.It is the people like you who make
                        being in business such a pleasure.Our Business is source
                        of Pride to us and with partners like you,we find going to
                        work each day rewarding experience.
                    </p>
                </td>


                <td style="border: 0px none black;"><img src="@ViewBag.ProfilePic" style="height:130px;width:130px;border: 1px solid black;" /></td>
            </tr>

        </table>
        <br />

        <table style="width: 100%;">
            <tr>
                <td><b>Associate Id:    </b> </td>
                <td>@ViewBag.AssociateID </td>
                <td><b>Associate Name:    </b>  </td>
                <td>@ViewBag.AssociateName</td>
                <td><b>Mobile     </b></td>
                <td>@ViewBag.Contact</td>
            </tr>

            <tr>
                <td><b>Rank:    </b></td>
                <td>@ViewBag.Designation</td>

                <td><b>City:    </b></td>
                <td>@ViewBag.City</td>
                <td><b>A/C NO.:    </b></td>
                <td>@ViewBag.MemberAccNo</td>
            </tr>
            <tr>

                <td><b>Bank:    </b></td>
                <td>@ViewBag.MemberBankName</td>
                <td><b>Branch:    </b></td>
                <td>@ViewBag.MemberBranch</td>
                <td><b>IFSC Code.:    </b></td>
                <td>@ViewBag.IFSCCode</td>
            </tr>
            <tr>
                <td><b>Address:    </b></td>
                <td colspan="5">@ViewBag.Address</td>

            </tr>
        </table>
        <br />
        <br />
        <div>
            We value the comments the our Associate's on receipt of
            this letter we hope you will share your Vulnerable
            thoughts with us.Please accept our best wishes for your
            continuous prosperity and good health.
            <br />
            <br />
            With Regards,
            <br />

            @ViewBag.CompanyName
        </div>
        

    </div>
</body>
</html>
