@model ShivGardenHouse.Models.Plot

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Customer Ledger</title>
    <style>
        table, th, td {
            font-size: medium;
            /*border: 1px solid black;*/
            border-collapse: collapse;
        }

        th, td {
            font-size: medium;
            padding: 5px;
        }
    </style>

</head>
<body>
    <div style="border:3px solid #a20e0e;padding-left:10px;padding-right:10px;">
        <table style="border: 0px none black;">
            <tr style="border: 0px none black;">
                <td style="border: 0px none black;">
                    <img src="../../Website/images/Logo.png" />
                </td>
                <td style="border: 0px none black;"></td>

                <td style="border: 0px none black;">
                    <h1 style="color:#a20e0e">Shiv Garden House Projects </h1>
                    @*<h5 style="text-align:right">CIN NO.:U70102UP2016NTCO75953</h5>*@
                </td>
            </tr>

        </table>
        <br />

        <table style="width: 100%;" class="table table-striped">

            <tr>
                <td style="border: 1px solid black;" colspan="2"><b>Customer Info: </b>@ViewBag.CustomerName</td>
                <td style="border: 1px solid black;"><b>Mobile No.</b>@ViewBag.CustomerMobile</td>
            </tr>
            <tr>
                <td colspan="3" style="border: 1px solid black;"><b>Address:    </b>@ViewBag.CustomerAddress</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;"><b>State:    </b>@ViewBag.State</td>
                <td style="border: 1px solid black;"><b>City:    </b>@ViewBag.City</td>
                <td style="border: 1px solid black;"><b>Pin Code:    </b>@ViewBag.Pincode</td>
            </tr>
        </table>
        <br />

        <table style="width: 100%;" class="table table-striped">
            <tr>

                <td style="border: 1px solid black;" colspan="2"><b> Site:    </b>@ViewBag.SiteName</td>
                <td style="border: 1px solid black;"><b>Sector:    </b>@ViewBag.SectorName</td>
                <td style="border: 1px solid black;"><b>Block:    </b>@ViewBag.BlockName</td>
                <td style="border: 1px solid black;"><b> Plot No:    </b>@ViewBag.PlotNumber</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;" colspan="2"><b>Plot/Row House Amount:     </b>@ViewBag.NetPlotAmount /-</td>
                <td style="border: 1px solid black;" colspan="3"><b>In Words:     </b>@ViewBag.NetAmtWords</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;" colspan="2"><b>A sum of:     </b>@ViewBag.PaidAmount /-</td>
                <td style="border: 1px solid black;" colspan="3"><b>In Words:     </b>@ViewBag.PaidAmtWords</td>
            </tr>

            <tr>
                <td style="border: 1px solid black;"><b>Area:    </b>@ViewBag.PlotArea</td>
                <td style="border: 1px solid black;"><b>PLC:    </b>@ViewBag.PLC</td>
                <td style="border: 1px solid black;" colspan="3"></td>
            </tr>

        </table>

        <br />
        <table style="width: 100%;" class="table table-striped">
            <tr>
                <td style="border: 1px solid black;"><b>Affiliate Id:    </b>@ViewBag.AssociateLoginID  </td>
                <td style="border: 1px solid black;"><b>Affiliate Name:    </b>@ViewBag.AssociateName</td>
                <td style="border: 1px solid black;">@*<b>Mobile No.     </b>@ViewBag.Contact*@</td>
            </tr>
        </table>
        <br />
        <br />

        <table style="width: 100%;" border="1">
            <thead>
                <tr>
                    <td>S No</td>
                    <td>Installment No</td>
                    <td>Installment Date</td>
                    <td>Installment Amount</td>
                    <td>Paid Amount</td>
                    <td>Payment Date</td>
                    <td>Payment Mode</td>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    if (Model.lstPlot != null)
                    {
                        var i = 1;
                        foreach (var item in Model.lstPlot)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.InstallmentNo</td>
                                <td>@item.InstallmentDate</td>
                                <td>@item.InstallmentAmount</td>
                                <td>@item.PaidAmount</td>
                                <td>@item.PaymentDate</td>
                                <td>@item.PaymentMode</td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>

        <br />
    </div>
</body>
</html>
